<h2>Contact Us</h2>
<div class="row">
	<div class="span8">
		<p>
			If you would like more information about Beverages And More, we would love to hear from you! Simply email us, call or visit us at one of our office locations. We welcome your thoughts and questions!
		</p>
		<p>
			Lance: <%= mail_to("mjgardne@andrew.cmu.edu", "mjgardne@andrew.cmu.edu", :encode => "javascript") %><br>
			Michael: <%= mail_to("lchristi@andrew.cmu.edu", "lchristi@andrew.cmu.edu", :encode => "javascript") %><br>
			Arjuna: <%= mail_to("achayes@andrew.cmu.edu", "achayes@andrew.cmu.edu", :encode => "javascript") %><br>
			Lawrence: <%= mail_to("ltsang@andrew.cmu.edu", "ltsang@andrew.cmu.edu", :encode => "javascript") %>
		</p>
		<p>
			Phone: (917) 751-9694
		</p>
	</div>
</div>
